.ownerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  .avatar {
    width: 50%;
  }

  img {
    border-radius: 50%;
  }
}

.starsWrapper {
  display: flex;
  justify-content: right;
  align-items: center;

  img {
    width: 40px;
    transform: translateY(-3px);
  }

}
